@font-face {
  font-family: "cmu";
  src: url("fonts/cmu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cmu";
  src: url("fonts/cmu-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "cmu";
  src: url("fonts/cmu-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "cmu";
  src: url("fonts/cmu-bold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

:root {
  --nc-tx-1: #111111;
  --nc-bg-1: #ffffff;
  --nc-bg-2: whitesmoke;
  --nc-bg-3: gainsboro;
  --nc-lk-1: #0070f3;
  --nc-lk-2: #0366d6;
  --nc-lk-tx: #ffffff;
  --nc-ac-1: #79ffe1;
  --nc-ac-tx: #0c4047;
}

html {
  background-color: #FBFEFC;
}

body {
  margin: 2rem auto;
  font-family: "cmu", monospace;
  font-size: 120%;
  line-height: 1.3;
  max-width: 50rem;
  padding: 2rem;
  border: 3px dotted #ADDDC0;
  background-color: #F4FBF6;
  color: #203C25;
}

h1 {
  text-align: center;
  text-transform: capitalize;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 6px 12px;
  background: #D6F1DF;
  color: #203C25;
  border: 0;
  border-radius: 4px;
}

footer button {
  width: 100%;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  background: #E6F6EB;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

input {
  padding: 6px 12px;
  background: #C4E8D1;
  color: #203C25;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex: 1;
  /* Set a transparent border. It isn't visible on idle, but prevents the cell from growing in size when a darker border is set on focus. */
  border: 1.4px solid #8ECEAA;
  border-radius: 4px;
}

form button {
  margin-left: 10px;
}

.artwork {
  max-width: 100%;
  max-height: 100%;
}

::placeholder {
  color: #218358;
}

.deck {
  /* display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-gap: 4rem;
     */
  margin: 4rem 0;
}

.card {
  margin: 8rem 0;
}

.card:first-child {
  margin: inherit;
}

.card:last-child {
  margin: inherit;
}

.description {
  text-align: center;
  padding: 0 0.6rem;
}

.artist {
  font-weight: bold;
}

.culture::before {
  content: " (";
}

.culture::after {
  content: "), ";
}

.title {
  font-style: italic;
}

.date::before {
  content: ", ";
}

.date::after {
  content: ".";
}

.indicator {
  display: grid;
  place-items: center;
}

.prompt {
  margin-top: 2rem;
  text-align: center;
  padding: 0px 12px;
  width: 100%;
  color: #193B2D;
}

.index {
  background-color: #FBFEFC;
}

.notfound {
  background-color: #FBFEFC;
}

.footer {
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}