@font-face {
  font-family: "ltr";
  src: url("./fonts/ltr.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "trib";
  src: url("./fonts/trib.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "trib";
  src: url("./fonts/trib-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.deck {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

header {
  background: #0000FF;
  color: #fff;
  height: 100vh;
  display: grid;
  place-items: center;
  place-content: center;
}

h1 {
  font-family: "ltr", serif;
  font-weight: normal;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
  padding: 0 1rem;
  text-decoration: underline;
}

button {
  cursor: pointer;
  letter-spacing: 2px;
  padding: 6px 12px;
  background: #FAFF32;
  color: #111;
  border: 0;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  background: #FFFF83;
}

input {
  padding: 6px 12px;
  letter-spacing: 2px;
  width: 100%;
}

form button {
  margin-top: 1rem;
  width: 100%;
}

figure img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 60vh;
  margin-bottom: 1.2rem;
}

::placeholder {
  color: #5D5353;
}

figure {
  height: 100vh;
  scroll-snap-align: center;
  padding: 1rem;
  display: grid;
  place-content: center;
  place-items: center;
}

figcaption {
  font-family: "trib", serif;
  font-size: 110%;
  text-align: center;
  width: 400px;
  line-height: 1.5;
}

.artist {
  font-weight: bold;
  letter-spacing: 0.4px;
}

.culture::before {
  content: " (";
}

.culture::after {
  content: "), ";
}

.title {
  font-style: italic;
}

.date::before {
  content: ", ";
}

.date::after {
  content: ".";
}

.prompt {
  margin: 2rem auto;
  text-align: center;
  line-height: 1.3;
  width: 60%;
}

.footer {
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}